---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Work from "../icons/Work.astro";
import Code from "../icons/Code.astro";
import Person from "../icons/Person.astro";
---

<Layout
  title="Olga's Portfolio - Developing Web Developer"
  description="Creating efficient and engaging mobile and web apps. Web Developer and Content Creator. Specialized in creating unique apps.">
  <main class="px-4">
    <SectionContainer>
      <Hero />
    </SectionContainer>
    <SectionContainer>
      <h2
        class={`flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white ${Astro.props.className}`}>
        <Work class="size-8" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer>
      <h2
        class={`flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white ${Astro.props.className}`}>
        <Code class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer>
      <h2
        class={`flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white ${Astro.props.className}`}>
        <Person class="size-8" />
        About Me
      </h2>
      <AboutMe />
      <a
        target="_blank"
        href="https://drive.google.com/file/d/12cHOerr70LN0qubzQAsZW4pAoRVVAP7v/view"
        role="link"
        class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
        Download Olga's CV
      </a>
    </SectionContainer>
  </main>
</Layout>
