---
const personalImageAlt = "Olga Marin";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
    <p>
      <span class="font-semibold text-yellow-200"
        >Sometimes life pushes us to reinvent ourselves</span
      >
      — and that's exactly the journey I've been on.
    </p>
    <p>
      I'm Olga Marín, an electronics engineer by education, a creative by
      passion, and a tech enthusiast by choice. Early in my career, I co-founded
      an e-commerce company where I learned firsthand how technology, logistics,
      and customer connection come together. That experience sparked my love for
      solving real-world problems and building things from scratch.
    </p>
    <p>
      A few years later, I made one of the most important decisions of my life:
      I migrated to a new country. It wasn’t easy starting over, but it taught
      me resilience, adaptability, and the power of continuous learning.
    </p>
    <p>
      To rebuild, I leaned into education. I became an <a
        href="https://preply.com/es/profesor/459193"
        class="font-semibold underline text-yellow-200"
        >online Spanish teacher</a
      >, where I honed my communication and pedagogical skills, learning how to
      break down complex concepts for students of all ages and backgrounds.
    </p>
    <p>
      Teaching not only sharpened my interpersonal skills but also showed me how
      deeply I enjoy helping others understand and grow. In parallel, my
      creative side flourished through <a
        href="https://www.fiverr.com/olgamarin/hare-un-video-ad-profesional-para-tu-producto-o-servicio"
        class="font-semibold underline text-yellow-200"
        >freelance work as a video ad editor</a
      >. I quickly adapted to various tools like Filmora, Photoshop, React.js,
      and UI/UX platforms, confirming one of my strongest assets: I learn new
      software and technologies fast.
    </p>
    <p>
      Now, I am fully committed to growing a long-term, proficient career in the
      tech industry. I'm open to a wide spectrum of IT roles — from web
      development and UI/UX design to broader areas in tech where I can combine
      creativity, technology, and critical thinking. More than a specific title,
      I'm looking for the right environment to keep learning, contribute
      meaningfully, and build inspiring projects with passionate teams.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/teach1.JPG"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
