---
const personalImageAlt = "Miguel Ángel";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../icons/Linkedin.astro";
import MailIcon from "../icons/Mail.astro";
import Github from "../icons/Github.astro";
---

<div class="max-w-x1">
  <div class="flex gap-4 mb4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/yo-green.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/olga-marin-om/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105">
      <Badge>Open to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    Hey, I am Olga Marín
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    An enthusiastic <strong
      >Electronic Engineer and Web Development apprentice</strong
    > living in Buenos Aires Argentina.
  </p>
  <nav class="flex flex-wrap gap-4 mt-5">
    <SocialPill href="https://www.linkedin.com/in/olga-marin-om/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/OM33">
      <Github class="size-4" />
      Github
    </SocialPill>
    <SocialPill href="mailto:olgaems315@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
  </nav>
</div>
